**[教學目標]** <br />
綜合到目前為止所教的內容, 提交一次作答結果吧!! <br />
**[範例重點]** <br />
資料清理  <br />
前處理 : MinMaxScaler, Imputer <br />
Heatmap 的進階用法 : 散佈圖, KDE, 密度圖 <br />
輸出值的紀錄 <br />

In [53]:
#import the modules we need
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

data_dir = './data/'

In [54]:
f_app_train = os.path.join(data_dir,'application_train.csv')
f_app_test = os.path.join(data_dir,'application_test.csv')

df_train = pd.read_csv(f_app_train)
df_test = pd.read_csv(f_app_test)

In [55]:
#checking the NAs in train data
for col in df_train.columns:
    print('NAs in %s :' %col, np.sum(df_train[col].isnull()) )

NAs in SK_ID_CURR : 0
NAs in TARGET : 0
NAs in NAME_CONTRACT_TYPE : 0
NAs in CODE_GENDER : 0
NAs in FLAG_OWN_CAR : 0
NAs in FLAG_OWN_REALTY : 0
NAs in CNT_CHILDREN : 0
NAs in AMT_INCOME_TOTAL : 0
NAs in AMT_CREDIT : 0
NAs in AMT_ANNUITY : 12
NAs in AMT_GOODS_PRICE : 278
NAs in NAME_TYPE_SUITE : 1292
NAs in NAME_INCOME_TYPE : 0
NAs in NAME_EDUCATION_TYPE : 0
NAs in NAME_FAMILY_STATUS : 0
NAs in NAME_HOUSING_TYPE : 0
NAs in REGION_POPULATION_RELATIVE : 0
NAs in DAYS_BIRTH : 0
NAs in DAYS_EMPLOYED : 0
NAs in DAYS_REGISTRATION : 0
NAs in DAYS_ID_PUBLISH : 0
NAs in OWN_CAR_AGE : 202929
NAs in FLAG_MOBIL : 0
NAs in FLAG_EMP_PHONE : 0
NAs in FLAG_WORK_PHONE : 0
NAs in FLAG_CONT_MOBILE : 0
NAs in FLAG_PHONE : 0
NAs in FLAG_EMAIL : 0
NAs in OCCUPATION_TYPE : 96391
NAs in CNT_FAM_MEMBERS : 2
NAs in REGION_RATING_CLIENT : 0
NAs in REGION_RATING_CLIENT_W_CITY : 0
NAs in WEEKDAY_APPR_PROCESS_START : 0
NAs in HOUR_APPR_PROCESS_START : 0
NAs in REG_REGION_NOT_LIVE_REGION : 0
NAs in REG_REGION_NOT_WORK_REGION : 0
NAs in LIVE_REGION_NOT_WORK_REGION : 0
NAs in REG_CITY_NOT_LIVE_CITY : 0
NAs in REG_CITY_NOT_WORK_CITY : 0
NAs in LIVE_CITY_NOT_WORK_CITY : 0
NAs in ORGANIZATION_TYPE : 0
NAs in EXT_SOURCE_1 : 173378
NAs in EXT_SOURCE_2 : 660
NAs in EXT_SOURCE_3 : 60965
NAs in APARTMENTS_AVG : 156061
NAs in BASEMENTAREA_AVG : 179943
NAs in YEARS_BEGINEXPLUATATION_AVG : 150007
NAs in YEARS_BUILD_AVG : 204488
NAs in COMMONAREA_AVG : 214865
NAs in ELEVATORS_AVG : 163891
NAs in ENTRANCES_AVG : 154828
NAs in FLOORSMAX_AVG : 153020
NAs in FLOORSMIN_AVG : 208642
NAs in LANDAREA_AVG : 182590
NAs in LIVINGAPARTMENTS_AVG : 210199
NAs in LIVINGAREA_AVG : 154350
NAs in NONLIVINGAPARTMENTS_AVG : 213514
NAs in NONLIVINGAREA_AVG : 169682
NAs in APARTMENTS_MODE : 156061
NAs in BASEMENTAREA_MODE : 179943
NAs in YEARS_BEGINEXPLUATATION_MODE : 150007
NAs in YEARS_BUILD_MODE : 204488
NAs in COMMONAREA_MODE : 214865
NAs in ELEVATORS_MODE : 163891
NAs in ENTRANCES_MODE : 154828
NAs in FLOORSMAX_MODE : 153020
NAs in FLOORSMIN_MODE : 208642
NAs in LANDAREA_MODE : 182590
NAs in LIVINGAPARTMENTS_MODE : 210199
NAs in LIVINGAREA_MODE : 154350
NAs in NONLIVINGAPARTMENTS_MODE : 213514
NAs in NONLIVINGAREA_MODE : 169682
NAs in APARTMENTS_MEDI : 156061
NAs in BASEMENTAREA_MEDI : 179943
NAs in YEARS_BEGINEXPLUATATION_MEDI : 150007
NAs in YEARS_BUILD_MEDI : 204488
NAs in COMMONAREA_MEDI : 214865
NAs in ELEVATORS_MEDI : 163891
NAs in ENTRANCES_MEDI : 154828
NAs in FLOORSMAX_MEDI : 153020
NAs in FLOORSMIN_MEDI : 208642
NAs in LANDAREA_MEDI : 182590
NAs in LIVINGAPARTMENTS_MEDI : 210199
NAs in LIVINGAREA_MEDI : 154350
NAs in NONLIVINGAPARTMENTS_MEDI : 213514
NAs in NONLIVINGAREA_MEDI : 169682
NAs in FONDKAPREMONT_MODE : 210295
NAs in HOUSETYPE_MODE : 154297
NAs in TOTALAREA_MODE : 148431
NAs in WALLSMATERIAL_MODE : 156341
NAs in EMERGENCYSTATE_MODE : 145755
NAs in OBS_30_CNT_SOCIAL_CIRCLE : 1021
NAs in DEF_30_CNT_SOCIAL_CIRCLE : 1021
NAs in OBS_60_CNT_SOCIAL_CIRCLE : 1021
NAs in DEF_60_CNT_SOCIAL_CIRCLE : 1021
NAs in DAYS_LAST_PHONE_CHANGE : 1
NAs in FLAG_DOCUMENT_2 : 0
NAs in FLAG_DOCUMENT_3 : 0
NAs in FLAG_DOCUMENT_4 : 0
NAs in FLAG_DOCUMENT_5 : 0
NAs in FLAG_DOCUMENT_6 : 0
NAs in FLAG_DOCUMENT_7 : 0
NAs in FLAG_DOCUMENT_8 : 0
NAs in FLAG_DOCUMENT_9 : 0
NAs in FLAG_DOCUMENT_10 : 0
NAs in FLAG_DOCUMENT_11 : 0
NAs in FLAG_DOCUMENT_12 : 0
NAs in FLAG_DOCUMENT_13 : 0
NAs in FLAG_DOCUMENT_14 : 0
NAs in FLAG_DOCUMENT_15 : 0
NAs in FLAG_DOCUMENT_16 : 0
NAs in FLAG_DOCUMENT_17 : 0
NAs in FLAG_DOCUMENT_18 : 0
NAs in FLAG_DOCUMENT_19 : 0
NAs in FLAG_DOCUMENT_20 : 0
NAs in FLAG_DOCUMENT_21 : 0
NAs in AMT_REQ_CREDIT_BUREAU_HOUR : 41519
NAs in AMT_REQ_CREDIT_BUREAU_DAY : 41519
NAs in AMT_REQ_CREDIT_BUREAU_WEEK : 41519
NAs in AMT_REQ_CREDIT_BUREAU_MON : 41519
NAs in AMT_REQ_CREDIT_BUREAU_QRT : 41519
NAs in AMT_REQ_CREDIT_BUREAU_YEAR : 41519

In [56]:
#checking the NAs in test data
for col in df_test.columns:
    print('NAs in %s :' %col, np.sum(df_test[col].isnull()))

NAs in SK_ID_CURR : 0
NAs in NAME_CONTRACT_TYPE : 0
NAs in CODE_GENDER : 0
NAs in FLAG_OWN_CAR : 0
NAs in FLAG_OWN_REALTY : 0
NAs in CNT_CHILDREN : 0
NAs in AMT_INCOME_TOTAL : 0
NAs in AMT_CREDIT : 0
NAs in AMT_ANNUITY : 24
NAs in AMT_GOODS_PRICE : 0
NAs in NAME_TYPE_SUITE : 911
NAs in NAME_INCOME_TYPE : 0
NAs in NAME_EDUCATION_TYPE : 0
NAs in NAME_FAMILY_STATUS : 0
NAs in NAME_HOUSING_TYPE : 0
NAs in REGION_POPULATION_RELATIVE : 0
NAs in DAYS_BIRTH : 0
NAs in DAYS_EMPLOYED : 0
NAs in DAYS_REGISTRATION : 0
NAs in DAYS_ID_PUBLISH : 0
NAs in OWN_CAR_AGE : 32312
NAs in FLAG_MOBIL : 0
NAs in FLAG_EMP_PHONE : 0
NAs in FLAG_WORK_PHONE : 0
NAs in FLAG_CONT_MOBILE : 0
NAs in FLAG_PHONE : 0
NAs in FLAG_EMAIL : 0
NAs in OCCUPATION_TYPE : 15605
NAs in CNT_FAM_MEMBERS : 0
NAs in REGION_RATING_CLIENT : 0
NAs in REGION_RATING_CLIENT_W_CITY : 0
NAs in WEEKDAY_APPR_PROCESS_START : 0
NAs in HOUR_APPR_PROCESS_START : 0
NAs in REG_REGION_NOT_LIVE_REGION : 0
NAs in REG_REGION_NOT_WORK_REGION : 0
NAs in LIVE_REGION_NOT_WORK_REGION : 0
NAs in REG_CITY_NOT_LIVE_CITY : 0
NAs in REG_CITY_NOT_WORK_CITY : 0
NAs in LIVE_CITY_NOT_WORK_CITY : 0
NAs in ORGANIZATION_TYPE : 0
NAs in EXT_SOURCE_1 : 20532
NAs in EXT_SOURCE_2 : 8
NAs in EXT_SOURCE_3 : 8668
NAs in APARTMENTS_AVG : 23887
NAs in BASEMENTAREA_AVG : 27641
NAs in YEARS_BEGINEXPLUATATION_AVG : 22856
NAs in YEARS_BUILD_AVG : 31818
NAs in COMMONAREA_AVG : 33495
NAs in ELEVATORS_AVG : 25189
NAs in ENTRANCES_AVG : 23579
NAs in FLOORSMAX_AVG : 23321
NAs in FLOORSMIN_AVG : 32466
NAs in LANDAREA_AVG : 28254
NAs in LIVINGAPARTMENTS_AVG : 32780
NAs in LIVINGAREA_AVG : 23552
NAs in NONLIVINGAPARTMENTS_AVG : 33347
NAs in NONLIVINGAREA_AVG : 26084
NAs in APARTMENTS_MODE : 23887
NAs in BASEMENTAREA_MODE : 27641
NAs in YEARS_BEGINEXPLUATATION_MODE : 22856
NAs in YEARS_BUILD_MODE : 31818
NAs in COMMONAREA_MODE : 33495
NAs in ELEVATORS_MODE : 25189
NAs in ENTRANCES_MODE : 23579
NAs in FLOORSMAX_MODE : 23321
NAs in FLOORSMIN_MODE : 32466
NAs in LANDAREA_MODE : 28254
NAs in LIVINGAPARTMENTS_MODE : 32780
NAs in LIVINGAREA_MODE : 23552
NAs in NONLIVINGAPARTMENTS_MODE : 33347
NAs in NONLIVINGAREA_MODE : 26084
NAs in APARTMENTS_MEDI : 23887
NAs in BASEMENTAREA_MEDI : 27641
NAs in YEARS_BEGINEXPLUATATION_MEDI : 22856
NAs in YEARS_BUILD_MEDI : 31818
NAs in COMMONAREA_MEDI : 33495
NAs in ELEVATORS_MEDI : 25189
NAs in ENTRANCES_MEDI : 23579
NAs in FLOORSMAX_MEDI : 23321
NAs in FLOORSMIN_MEDI : 32466
NAs in LANDAREA_MEDI : 28254
NAs in LIVINGAPARTMENTS_MEDI : 32780
NAs in LIVINGAREA_MEDI : 23552
NAs in NONLIVINGAPARTMENTS_MEDI : 33347
NAs in NONLIVINGAREA_MEDI : 26084
NAs in FONDKAPREMONT_MODE : 32797
NAs in HOUSETYPE_MODE : 23619
NAs in TOTALAREA_MODE : 22624
NAs in WALLSMATERIAL_MODE : 23893
NAs in EMERGENCYSTATE_MODE : 22209
NAs in OBS_30_CNT_SOCIAL_CIRCLE : 29
NAs in DEF_30_CNT_SOCIAL_CIRCLE : 29
NAs in OBS_60_CNT_SOCIAL_CIRCLE : 29
NAs in DEF_60_CNT_SOCIAL_CIRCLE : 29
NAs in DAYS_LAST_PHONE_CHANGE : 0
NAs in FLAG_DOCUMENT_2 : 0
NAs in FLAG_DOCUMENT_3 : 0
NAs in FLAG_DOCUMENT_4 : 0
NAs in FLAG_DOCUMENT_5 : 0
NAs in FLAG_DOCUMENT_6 : 0
NAs in FLAG_DOCUMENT_7 : 0
NAs in FLAG_DOCUMENT_8 : 0
NAs in FLAG_DOCUMENT_9 : 0
NAs in FLAG_DOCUMENT_10 : 0
NAs in FLAG_DOCUMENT_11 : 0
NAs in FLAG_DOCUMENT_12 : 0
NAs in FLAG_DOCUMENT_13 : 0
NAs in FLAG_DOCUMENT_14 : 0
NAs in FLAG_DOCUMENT_15 : 0
NAs in FLAG_DOCUMENT_16 : 0
NAs in FLAG_DOCUMENT_17 : 0
NAs in FLAG_DOCUMENT_18 : 0
NAs in FLAG_DOCUMENT_19 : 0
NAs in FLAG_DOCUMENT_20 : 0
NAs in FLAG_DOCUMENT_21 : 0
NAs in AMT_REQ_CREDIT_BUREAU_HOUR : 6049
NAs in AMT_REQ_CREDIT_BUREAU_DAY : 6049
NAs in AMT_REQ_CREDIT_BUREAU_WEEK : 6049
NAs in AMT_REQ_CREDIT_BUREAU_MON : 6049
NAs in AMT_REQ_CREDIT_BUREAU_QRT : 6049
NAs in AMT_REQ_CREDIT_BUREAU_YEAR : 6049

In [57]:
#Checking correlation of data with target in train_data
correlation_train = df_train.corr()['TARGET'].sort_values(ascending=False)

In [58]:
print(correlation_train.head(15))
print(correlation_train.tail(15))

TARGET                         1.000000
DAYS_BIRTH                     0.078239
REGION_RATING_CLIENT_W_CITY    0.060893
REGION_RATING_CLIENT           0.058899
DAYS_LAST_PHONE_CHANGE         0.055218
DAYS_ID_PUBLISH                0.051457
REG_CITY_NOT_WORK_CITY         0.050994
FLAG_EMP_PHONE                 0.045982
REG_CITY_NOT_LIVE_CITY         0.044395
FLAG_DOCUMENT_3                0.044346
DAYS_REGISTRATION              0.041975
OWN_CAR_AGE                    0.037612
LIVE_CITY_NOT_WORK_CITY        0.032518
DEF_30_CNT_SOCIAL_CIRCLE       0.032248
DEF_60_CNT_SOCIAL_CIRCLE       0.031276
Name: TARGET, dtype: float64
LIVINGAREA_MEDI              -0.032739
LIVINGAREA_AVG               -0.032997
FLOORSMIN_MEDI               -0.033394
FLOORSMIN_AVG                -0.033614
ELEVATORS_MEDI               -0.033863
ELEVATORS_AVG                -0.034199
REGION_POPULATION_RELATIVE   -0.037227
AMT_GOODS_PRICE              -0.039645
FLOORSMAX_MODE               -0.043226
FLOORSMAX_MEDI               -0.043768
FLOORSMAX_AVG                -0.044003
DAYS_EMPLOYED                -0.044932
EXT_SOURCE_1                 -0.155317
EXT_SOURCE_2                 -0.160472
EXT_SOURCE_3                 -0.178919
Name: TARGET, dtype: float64

In [59]:
def preprocessing(data):
    data.DAYS_BIRTH = abs(data.DAYS_BIRTH)
    data['YEARS_BIRTH'] = data.DAYS_BIRTH / 365
    data['YEARS_BIRTH_GROUP'] = pd.qcut(data.YEARS_BIRTH,5)
    
    data['DAYS_EMPLOYED_WEIRD'] = data.DAYS_EMPLOYED == 365243
    data.DAYS_EMPLOYED.replace(to_replace = 365243, value = np.nan, inplace = True)
    data.DAYS_EMPLOYED = abs(data.DAYS_EMPLOYED)
    data['YEARS_EMPLOYED'] = data.DAYS_EMPLOYED / 365
    data['YEARS_EMPLOYED_GROUP'] = pd.qcut(data.YEARS_EMPLOYED,5)
    
    data.CODE_GENDER.replace(to_replace = 'XNA', value = 'M',inplace = True)
    
    data.DAYS_LAST_PHONE_CHANGE = abs(data.DAYS_LAST_PHONE_CHANGE)
    data['YEARS_LAST_PHONE_CHANGE'] = data.DAYS_LAST_PHONE_CHANGE / 365
    data['YEARS_LAST_PHONE_CHANGE_GROUP'] = pd.qcut(data['YEARS_LAST_PHONE_CHANGE'],4)
    
    data['OWN_CAR_AGE_WEIRD'] = data.OWN_CAR_AGE == 65
    data.OWN_CAR_AGE.replace(to_replace = 65,value = np.nan, inplace = True)
    
    data.DAYS_ID_PUBLISH = abs(data.DAYS_ID_PUBLISH)
    data['YEARS_ID_PUBLISH'] =  data.DAYS_ID_PUBLISH/365
    
    data.DAYS_REGISTRATION = abs(data.DAYS_REGISTRATION)
    data['YEARS_REGISTRATION'] = data.DAYS_REGISTRATION / 365
    data['YEARS_REGISTRATION_GROUP'] = pd.qcut(data['YEARS_REGISTRATION'],4)
    
    return data

In [60]:
df_train = preprocessing(df_train)
df_test = preprocessing(df_test)

In [61]:
train = df_train.loc[:,df_train.columns != 'SK_ID_CURR' ]
test = df_test.loc[:,df_test.columns != 'SK_ID_CURR']

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in train.columns:
    if train[col].dtype == 'object':
        if len(train[col].unique()) <= 2:
            train[col] = le.fit_transform(train[col])
            test[col] = le.fit_transform(test[col])
            
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [63]:
print('number of dataset in train data before align : %d' %len(train.columns))
print('number of dataset in test data before align :%d' %len(test.columns))

number of dataset in train data before align : 265
number of dataset in test data before align :262

In [64]:
train_labels = df_train.TARGET

#From above, we can see that the number of dataset in train and test data is different
#So we need to remove the dataset that train data have but test data
train,test = train.align(test, join = 'inner', axis = 1)
print('number of dataset in train data after align : %d' %len(train.columns))
print('number of dataset in test data after align : %d' %len(test.columns))

number of dataset in train data after align : 244
number of dataset in test data after align : 244

In [65]:
from sklearn.preprocessing import MinMaxScaler, Imputer

training = train
testing = test.copy()
feature = train.columns

#Imputer will fill the NAs in data of what you decide(in the case below is using median value in dataset)
imputer = Imputer(strategy = 'median')
#MinMaxScaler will normalize the dataset into specific range(in the case below is 0 to 1)
scaler = MinMaxScaler(feature_range = (0,1 ))

imputer.fit(training)
training = imputer.transform(training)
testing = imputer.transform(testing)

scaler.fit(training)
training = scaler.transform(training)
testing = scaler.transform(testing)

print('Training data shape: ', training.shape)
print('Testing data shape: ', testing.shape)

Training data shape:  (307511, 244)
Testing data shape:  (48744, 244)

In [67]:
from sklearn.model_selection import GridSearchCV
def tuneParams(classifier, params,traindata,trainlabel):
    md = GridSearchCV(classifier,params,cv = 3, scoring = 'accuracy')
    md.fit(traindata,trainlabel)
    best_params, best_score = md.best_params_, np.round(md.best_score_*100,2)
    
    return best_params, best_score

In [68]:
from sklearn.linear_model import LogisticRegression

LRParams = {'penalty' : ['l1','l2'], 'C': [0.0001, 0.0005, 0.001, 0.01, 1] }
LR_best_Params, LR_best_score = tuneParams(LogisticRegression(),LRParams,training,train_labels)
print('LR: ',LR_best_Params, LR_best_score)

LR:  {'C': 0.0001, 'penalty': 'l1'} 91.93

In [73]:
LR = LogisticRegression(penalty = 'l2', C = 0.0001 )
LR.fit(training, train_labels)

LogisticRegression(C=0.0001, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [74]:
prediction = LR.predict_proba(testing)[:,1]

In [75]:
submit = df_test[['SK_ID_CURR']]
submit['TARGET'] = prediction

submit.head()

   SK_ID_CURR    TARGET
0      100001  0.064967
1      100005  0.115717
2      100013  0.072346
3      100028  0.059056
4      100038  0.116379

In [76]:
submit.to_csv(data_dir + 'submission.csv', index = False)